@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-colour: #000811;
    --secondary-colour: #fff;
    --text-colour: #0e0e0e;
    --strong-colour: #001b42;
    --strong-light-colour: #002f70;
}
a {
    text-decoration: none;
    color: inherit;
}
section {
    width: 100%;
    min-height: 100vh;
    background: var(--primary-colour);
}
nav {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 60px;
    background: var(--strong-colour);
    box-shadow:-10px 15px 0px var(--strong-light-colour);
    border-radius: 100px;
}